@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Pacifico&family=Permanent+Marker&family=Playwrite+DE+Grund:wght@100..400&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Teko&family=Concert+One&family=Courgette&family=Kalam:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: var(--font3);
    margin: 0;
    padding: 0;
}

:root {
    --font1: Acme;
    --font2: Teko;
    --font3: Bangers;
    --font4: 'Concert One';
    --font5: Courgette;
    --font6: Kalam;
    --color1: #6c63c1;
    --color2: #f6f9fc;
    --color3: #65c5df;
    --color4: #103049;
    --color5: black;
    --color6: white;
}

html{
    scroll-behavior: smooth;
}

.contenedor-header{
    background: linear-gradient(to top, rgba(34, 30, 38, 0.2),rgba(30, 35, 38, .2));
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.contenedor-header header img{
    margin: 10% 10%;
    width: 125px;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    font-size: 170%;
    font-family: var(--font3);
    color: var(--color6);
    margin: 0 15px;
    padding: 8px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    font-size: 200%;
    animation: letrazoom 2s linear 0s infinite;
}

@keyframes letrazoom {
    25%{
        font-size: 210%;
        color: black;
    }
    50%{
        font-size: 170%;
        color: white;
    }
    75%{
        font-size: 210%;
        color: black;
    }
    100%{
        font-size: 170%;
        color: white;
    }
}

.inicio{
    padding: 7% 0;
    background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(fondoinicio.JPG);
    width: 100vmax;
    height: 110vh;
    color: var(--color2);
    align-items: center;
}


.inicio .contenido .mitexto h1{
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 3%;
    color: white;
    font-size: 100px;
    font-family: var(--font3);
    animation: letraaparece 2s linear 1s 1;
}

@keyframes letraaparece{
    0%{
        opacity: 0;
        font-size: 385%;
    }
    25%{
        opacity: 0.25;
        font-size: 435%;
    }
    50%{
        opacity: 0.50;
        font-size: 485%;
    }
    75%{
        opacity: 0.75;
        font-size: 535%;
    }
    100%{
        opacity: 1;
        font-size: 585%;
    }
}

.inicio .contenido{
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenidos{
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenidos .contenidointro {
    padding: 30px;
    background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5));
    width: 40%;
    font-family: var(--font1);
    margin: 0 0 0 8%;
    text-align: left;
    border-radius: 40px;
}

.inicio .contenidos img {
    width: 35%;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenidos img:hover {
    animation: desaparecer 1s linear 0s 1;
    opacity: 0;
}

@keyframes desaparecer{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.inicio .contenidos p{
    text-align: justify;
    font-size: 230%;
    font-weight: normal;
    font-family: var(--font5);
}

.inicio .contenido .redes{
    padding: 20px;
    position: absolute;
    width: 5%;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}

.inicio .contenido .mitexto{
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.inicio .contenido .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    font-size: 30px;
}

.inicio .contenido .redes a:hover{
    font-size: 50px;
}

.quienessomos{
    padding: 0;
    background: var(--color2);
    background-size: cover;
    height: 205vh;
    align-items: center;
}

.quienessomos .contenido-seccion{
    text-align: center;
    background-image: url(banner.jpg);
    width: 100%;
    height: 30%;
    margin-top: 0;
    color: var(--color2);
    border-radius: 0 0 50% 50%;
}

.quienessomos .contenido-seccion .contenido h1{
    color: var(--color6);
    font-size: 500%;
    font-family: var(--font6);
    padding: 8% 0 0 0;
}

.quienessomos .contenido-seccion .contenido img{
    padding: 0;
    width: 60%;
}

.quienessomos .contenido-banner{
    text-align: center;
    width: 100%;
    height: 255px;
    margin-top: 0;
    color: var(--color2);
}

.quienessomos .contenido-banner .conte-banner{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55%;
    margin-top: 0;
}

.quienessomos .contenido-banner .conte-titulo{
    text-align: center;
    margin-top: 0;
    color: var(--color2);
}

.quienessomos .contenido-banner .conte-titulo h1{
    color: var(--color4);
    font-size: 550%;
    font-family: var(--font6);
    padding: 0 0 2% 0;
}

.quienessomos .contenido-banner .conte-banner .contenidos{
    width: 20%;
    height: 490%;
    text-align: center;
    box-shadow: 2px 2px 5px var(--color4);
    background-color: var(--color6);
    color: var(--color2);
}

.quienessomos .contenido-banner .conte-banner .contenidos h3{
    color: var(--color1);
    font-size: 280%;
    font-family: var(--font5);
    padding: 20px 0 0 0;
}

.quienessomos .contenido-banner .conte-banner .contenidos p{
    margin: 30px;
    text-align: justify;
    color: var(--color4);
    font-size: 22px;
    font-family: var(--font5);
}

.quienessomos .contenido-banner .conte-banner .contenidos img{
    box-shadow: 0 0 45px var(--color1);
    padding: 0 0 0 0;
    margin-top: 30px;
    width: 220px;
    height: 220px;
    border-radius: 60%;
}

.quienessomos .contenido-seccion p{
    text-align: justify;
    font-size: 33px;
    line-height: 35px;
    margin: 10px 70px 60px 70px;
}

.quienessomos .contenido-seccion img{
    padding-top: 2%;
}

.danzas{
    border-width: 10px;
    border-color: var(--color1);
    border-top-style: dotted;
    background-color: var(--color2);
    background-size: cover;
    height: 130vh;
    align-items: center;
}

.danzas .contenido-seccion{
    justify-content: space-around;
    display: flex;
    background-color: var(--color2);
    width: 100%;
    height: 35%;
    color: var(--color2);
    margin: 130px 0 20px 0;
    border-radius: 30px;
}

.danzas .contenido-seccion .contenidotexto{
    background-color: var(--color1);
    width: 40%;
    height: 100%;
    color: var(--color2);
    border-radius: 30px;
}

.danzas .contenido-seccion .contenidoimg{
    text-align: center;
    background-color: var(--color2);
    width: 40%;
    height: 100%;
    color: var(--color2);
    border-radius: 30px;
}

.danzas .contenido-seccion img{
    box-shadow: 0 0 45px var(--color4);
    height: 100%;
    border-radius: 40px;
}

.danzas .contenido-seccion p{
    text-align: justify;
    padding: 25px 30px;
    font-size: 35px;
    font-family: var(--font5);
    color: var(--color6);
}

.musica{
    border-width: 10px;
    border-color: var(--color1);
    border-top-style: dotted;
    background-color: var(--color2);
    background-size: cover;
    height: 140vh;
    align-items: center;
}

.musica .contenido-seccion{
    justify-content: space-around;
    display: flex;
    background-color: var(--color2);
    width: 100%;
    height: 30%;
    color: var(--color2);
    margin: 35px 0 0 0;
    border-radius: 30px;
}

.musica .contenido-seccion .contenidotexto{
    background-color: var(--color4);
    width: 35%;
    height: 100%;
    color: var(--color2);
    border-radius: 30px;
}

.musica .contenido-seccion .contenidoimg{
    margin: 0 0 0 0;
    padding: 25px;
    background-color: var(--color2);
    width: 400px;
    color: var(--color2);
}

.musica .contenido-seccion .contenidoimg1{
    margin: 0 0 0 65px;
    padding: 25px;
    background-color: var(--color2);
    width: 400px;
    color: var(--color2);
}

.musica .contenido-seccion .contenidoimg2{
    margin: 0 70px 0 0;
    padding: 25px;
    background-color: var(--color2);
    width: 400px;
    color: var(--color2);
}

.musica .contenido-seccion img{
    box-shadow: 0 0 45px var(--color2);
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.musica .contenido-seccion p{
    text-align: justify;
    padding: 20px 30px;
    font-size: 30px;
    font-family: var(--font6);
    color: var(--color6);
}

.rutacomunitaria{
    border-width: 10px;
    border-color: var(--color1);
    border-top-style: dotted;
    background-color: var(--color2);
    background-size: cover;
    height: 125vh;
    display: flex;
    align-items: center;
}

.rutacomunitaria .contenido-seccion{
    box-shadow: 0 0 25px var(--color4);
    background-color: var(--color1);
    width: 25%;
    height: 85%;
    color: var(--color2);
    margin: 0 0 0 6%;
    border-radius: 30px;
}

.rutacomunitaria h2{
    font-size: 45px;
    font-family: var(--font5);
    text-align: center;
    padding: 20px 0 22px 0;
}

.rutacomunitaria .contenido-seccion p{
    text-align: justify;
    font-size: 25px;
    color: var(--color6);
    line-height: 28px;
    margin: 15px 30px 25px 30px;
    font-family: var(--font5);
}

.rutacomunitaria .contenido-seccion img{
    text-align: center;
    border-radius: 10%;
    width: 70%;
    margin: 15px 65px;
}

.rutacomunitaria .contenido-seccion video{
    text-align: center;
    width: 80%;
    margin: 0 10%;
    border-radius: 15px;
}

.contactanos {
    border-width: 10px;
    border-color: var(--color1);
    border-top-style: dotted;
    padding: 160px 0;
    background-color: var(--color2);
    background-size: cover;
    height: 100vh;
    color: var(--color2);
}

.contactanos .contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 40px;
}

.contactanos .contenedor .contenido-banner{
    position: absolute;
    width: 21%;
    height: 45%;
    padding: 30px;
    background-color: var(--color1);
    text-align: center;
    border-radius: 40px;
}

.contactanos .contenedor .contenido{
    position: absolute;
    width: 21%;
    height: 45%;
    padding: 55px 10px;
    background-color: var(--color4);
    text-align: center;
    border-radius: 40px;
}

.contactanos .contenido:hover {
    animation: desaparecer 2s linear 0s 1;
    opacity: 0;
}

.contactanos .contenido-banner img{
    border: 6px solid var(--color3);
    border-radius: 10%;
    display: block;
    width: 80%;
    margin: auto;
}

.contactanos h1{
    font-size: 60px;
    font-family: var(--font4);
}

.contactanos .contenido-banner h1{
    padding-top: 20px;
    font-size: 40px;
    font-family: var(--font4);
}

.contactanos h2{
    margin-top: 22%;
    text-align: center;
    color: var(--color4);
    font-size: 90px;
    font-family: var(--font2);
    animation: desaparecer 0.7s linear 2s infinite;
}

.contactanos .col .contenedorredes{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.contactanos .col .contenedorredes .redes{
    width: 120px;
    height: 120px;
    background-color: var(--color4);
    border-radius: 50%;
    margin: 0 45px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.contactanos .col .contenedorredes .redes:hover{
    font-size: 28px;
    margin-bottom: 15px;
    width: 140px;
    height: 140px;
    background-color: var(--color4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.contactanos .col .contenedorredes .redes a i{
    color: var(--color6);
    font-size: 30px;
    margin-bottom: 10px;
}


@media (max-width:1200px) {

    .contenedor-header header{
        margin: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .contenedor-header header img{
        margin: 10% 5%;
        width: 75px;
    }

    .contenedor-header header nav ul li a{
        font-size: 130%;
        font-family: var(--font3);
        color: var(--color6);
        margin: 0 4px;
        padding: 8px;
        transition: .5s;
        text-decoration: none;
    }

    @keyframes letrazoom {
        25%{
            font-size: 150%;
            color: black;
        }
        50%{
            font-size: 130%;
            color: white;
        }
        75%{
            font-size: 150%;
            color: black;
        }
        100%{
            font-size: 130%;
            color: white;
        }
    }

    .inicio{
        padding: 7% 0;
        background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(fondoinicio.JPG);
        width: 100%;
        background-size: cover;
        height: 55vh;
        color: var(--color2);
        align-items: center;
    }
    
    
    .inicio .contenido .mitexto h1{
        font-size: 300%;
        animation: letraaparece 2s linear 1s 1;
    }
    
    @keyframes letraaparece{
        0%{
            opacity: 0;
            font-size: 335%;
        }
        25%{
            opacity: 0.25;
            font-size: 345%;
        }
        50%{
            opacity: 0.50;
            font-size: 355%;
        }
        75%{
            opacity: 0.75;
            font-size: 365%;
        }
        100%{
            opacity: 1;
            font-size: 375%;
        }
    }

    .inicio .contenidos .contenidointro {
        width: 50%;
    }
    

    .inicio .contenidos p{
        font-size: 180%;
    }

    .inicio .contenido .redes a{
        line-height: 40px;
        font-size: 25px;
    }
    
    .inicio .contenido .redes a:hover{
        font-size: 35px;
    }
    

    .quienessomos{
        padding: 0;
        background: var(--color2);
        background-size: cover;
        width: 100%;
        height: 107vh;
        align-items: center;
    }

    .quienessomos .contenido-seccion{
        text-align: center;
        background-image: url(banner.jpg);
        width: 100%;
        height: 25%;
        margin: 0;
        color: var(--color2);
        border-radius: 0 0 50% 50%;
    }

    .quienessomos .contenido-banner .conte-banner .contenidos{
        width: 23%;
        height: 490%;
        color: var(--color2);
    }

    .quienessomos .contenido-banner .conte-banner .contenidos img{
        box-shadow: 0 0 25px var(--color1);
        width: 150px;
        height: 150px;
    }

    .quienessomos .contenido-banner .conte-banner .contenidos h3{
        font-size: 160%;
    }

    .quienessomos .contenido-banner .conte-banner .contenidos p{
        font-size: 95%;
    }

    .danzas{
        width: 100%;
        height: 60vh;
    }

    .danzas .contenido-seccion{
        justify-content: space-around;
        display: flex;
        width: 100%;
        margin: 90px 0 20px 0;
    }

    .danzas .contenido-seccion .contenidotexto{
        width: 50%;
        height: 95%;
    }

    .danzas .contenido-seccion .contenidoimg{
        height: 95%;
    }

    .danzas .contenido-seccion img{
        box-shadow: 0 0 15px var(--color4);
    }

    .danzas .contenido-seccion p{
        padding: 15px 20px;
        font-size: 23.5px;
    }

    .musica{
        width: 100%;
        height: 80vh;
    }
    
    .musica .contenido-seccion .contenidotexto{
        width: 40%;
        height: 100%;
    }

    .musica .contenido-seccion {
        justify-content: space-around;
    }
    
    .musica .contenido-seccion .contenidoimg{
        text-align: center;
        margin: 0 0 0 0;
        padding: 0;
        width: 25%;
        height: 25%;
        color: var(--color2);
    }
    
    .musica .contenido-seccion .contenidoimg1{
        text-align: center;
        width: 25%;
        margin: 0 0 0 0;
        padding: 0;
        background-color: var(--color2);
        color: var(--color2);
    }
    
    .musica .contenido-seccion .contenidoimg2{
        text-align: center;
        margin: 0 0 0 0;
        padding: 0;
        background-color: var(--color2);
        width: 25%;
        color: var(--color2);
    }
    
    .musica .contenido-seccion img{
        box-shadow: 0 0 20px var(--color1);
        width: 250px;
        height: 250px;
    }
    
    .musica .contenido-seccion p{
        padding: 18px 25px;
        font-size: 21px;
    }

    .rutacomunitaria{
        height: 50vh;
    }
    
    .rutacomunitaria .contenido-seccion{
        box-shadow: 0 0 25px var(--color4);
        background-color: var(--color1);
        width: 26%;
        height: 85%;
        color: var(--color2);
        margin: 0 0 0 6%;
        border-radius: 30px;
    }
    
    .rutacomunitaria h2{
        font-size: 24px;
    }
    
    .rutacomunitaria .contenido-seccion p{
        text-align: justify;
        font-size: 16px;
        color: var(--color6);
        line-height: 20px;
        margin: 5px 20px 15px 20px;
        font-family: var(--font1);
    }
    
    .rutacomunitaria .contenido-seccion img{
        text-align: center;
        border-radius: 10%;
        width: 70%;
        margin: 6px 40px;
    }

    .contactanos {
        padding: 70px 0;
        height: 70vh;
    }
    
    .contactanos .contenedor .contenido-banner{
        position: absolute;
        width: 34%;
        height: 25%;
        padding: 30px;
        background-color: var(--color1);
        text-align: center;
        border-radius: 40px;
    }
    
    .contactanos .contenedor .contenido{
        position: absolute;
        width: 34%;
        height: 25%;
        padding: 45px 10px;
        background-color: var(--color4);
        text-align: center;
        border-radius: 40px;
    }
    
    .contactanos .contenido-banner img{
        border: 6px solid var(--color3);
        border-radius: 10%;
        display: block;
        width: 80%;
        margin: auto;
    }
    
    .contactanos h1{
        font-size: 50px;
        font-family: var(--font4);
    }
    
    .contactanos .contenido-banner h1{
        padding-top: 30px;
        font-size: 34px;
        font-family: var(--font4);
    }
    
    .contactanos h2{
        margin-top: 38%;
        text-align: center;
        color: var(--color4);
        font-size: 50px;
        font-family: var(--font2);
        animation: desaparecer 0.7s linear 2s infinite;
    }

}

@media (max-width:440px) {

    .contenedor-header header{
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .contenedor-header header img{
        margin: 10% 5%;
        width: 55px;
    }

    .contenedor-header header nav ul li a{
        font-size: 90%;
        font-family: var(--font3);
        color: var(--color6);
        margin: 0 2px;
        padding: 3.5px;
        transition: .5s;
        text-decoration: none;
    }

    .contenedor-header header nav ul li a:hover{
        font-size: 80%;
        animation: letrazoom 2s linear 0s infinite;
    }

    @keyframes letrazoom {
        25%{
            font-size: 100%;
            color: black;
        }
        50%{
            font-size: 80%;
            color: white;
        }
        75%{
            font-size: 80%;
            color: black;
        }
        100%{
            font-size: 100%;
            color: white;
        }
    }

    .inicio{
        padding: 25% 0;
        background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(fondoinicio.JPG);
        width: 150%;
        background-size: cover;
        display: block;
        height: 150vh;
        color: var(--color2);
        align-items: center;
    }
    
    
    .inicio .contenido .mitexto h1{
        font-size: 280%;
        animation: letraaparece 2s linear 1s 1;
    }
    
    @keyframes letraaparece{
        0%{
            opacity: 0;
            font-size: 260%;
        }
        25%{
            opacity: 0.25;
            font-size: 240%;
        }
        50%{
            opacity: 0.50;
            font-size: 220%;
        }
        75%{
            opacity: 0.75;
            font-size: 210%;
        }
        100%{
            opacity: 1;
            font-size: 200%;
        }
    }

    .inicio .contenidos{
        padding: 0;
        margin: 0;
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 40px;
    }

    .inicio .contenidos .contenidointro {
        padding: 0;
        width: 86%;
        font-family: var(--font1);
        margin: 0 0 0 8%;
        text-align: justify;
        border-radius: 40px;
    }
    
    .inicio .contenidos img {
        width: 80%;
        padding-top: 20px;
        margin: auto;
        text-align: center;
        border-radius: 40px;
    }

    .inicio .contenidos p{
        padding: 15px;
        font-size: 150%;
    }

    .inicio .contenido .redes a{
        opacity: 0;
        line-height: 25px;
        font-size: 15px;
    }
    
    .inicio .contenido .redes a:hover{
        font-size: 35px;
    }

    .quienessomos{
        padding: 0;
        background: var(--color2);
        background-size: cover;
        width: 150%;
        height: 415vh;
        align-items: center;
    }
    
    .quienessomos .contenido-seccion{
        text-align: center;
        background-image: url(banner.jpg);
        width: 100%;
        height: 10%;
        color: var(--color2);
        border-radius: 0 0 50% 50%;
    }
    
    .quienessomos .contenido-seccion .contenido h1{
        color: var(--color6);
        font-size: 400%;
        font-family: var(--font6);
        padding: 12% 0 0 0;
    }
    
    .quienessomos .contenido-seccion .contenido img{
        padding: 0;
        width: 75%;
    }
    
    .quienessomos .contenido-banner{
        text-align: center;
        width: 100%;
        margin-top: 0;
        color: var(--color2);
    }
    
    .quienessomos .contenido-banner .conte-banner{
        display: block;
        padding: 0 12%;
        justify-content: center;
        width: 100%;
        height: 130%;
        margin-top: 0;
    }
    
    .quienessomos .contenido-banner .conte-titulo{
        text-align: center;
        margin-top: 0;
        color: var(--color2);
    }
    
    .quienessomos .contenido-banner .conte-titulo h1{
        color: var(--color4);
        font-size: 350%;
        font-family: var(--font6);
        padding: 0 0 0 0;
    }
    
    .quienessomos .contenido-banner .conte-banner .contenidos{
        width: 100%;
        height: 200%;
        text-align: center;
        margin-top: 10%;
        box-shadow: 2px 2px 5px var(--color4);
        background-color: var(--color6);
        color: var(--color2);
    }
    
    .quienessomos .contenido-banner .conte-banner .contenidos h3{
        color: var(--color1);
        font-size: 280%;
        font-family: var(--font5);
        padding: 20px 0 0 0;
    }
    
    .quienessomos .contenido-banner .conte-banner .contenidos p{
        margin: 30px;
        text-align: justify;
        color: var(--color4);
        font-size: 22px;
        font-family: var(--font5);
    }
    
    .quienessomos .contenido-banner .conte-banner .contenidos img{
        box-shadow: 0 0 45px var(--color1);
        padding: 0 0 0 0;
        margin-top: 42px;
        width: 220px;
        height: 220px;
        border-radius: 60%;
    }
    
    .quienessomos .contenido-seccion p{
        text-align: justify;
        font-size: 33px;
        line-height: 35px;
        margin: 10px 70px 60px 70px;
    }
    
    .quienessomos .contenido-seccion img{
        padding-top: 2%;
    }

    .danzas{
        border-width: 10px;
        border-color: var(--color1);
        border-top-style: dotted;
        background-color: var(--color2);
        background-size: cover;
        width: 150%;
        height: 180vh;
        align-items: center;
    }
    
    .danzas .contenido-seccion{
        display: block;
        width: 100%;
        height: 40%;
        color: var(--color2);
        border-radius: 30px;
    }
    
    .danzas .contenido-seccion .contenidotexto{
        margin: 10% 10%;
        background-color: var(--color1);
        width: 80%;
        height: 45%;
        color: var(--color2);
        border-radius: 30px;
    }
    
    .danzas .contenido-seccion .contenidoimg{
        margin: 10% 10%;
        text-align: center;
        width: 80%;
        height: 45%;
        color: var(--color2);
        border-radius: 30px;
    }
    
    .danzas .contenido-seccion img{
        box-shadow: 0 0 45px var(--color4);
        height: 100%;
        border-radius: 40px;
    }
    
    .danzas .contenido-seccion p{
        text-align: justify;
        padding: 15px 30px;
        font-size: 22px;
        font-family: var(--font5);
        color: var(--color6);
    }

    .musica{
        border-width: 10px;
        border-color: var(--color1);
        border-top-style: dotted;
        background-color: var(--color2);
        background-size: cover;
        width: 150%;
        height: 500vh;
        align-items: center;
    }
    
    .musica .contenido-seccion{
        display: block;
        width: 100%;
        height: 32%;
        color: var(--color2);
        margin: 35px 0 0 0;
        border-radius: 30px;
    }
    
    .musica .contenido-seccion .contenidotexto{
        margin-left: 10%;
        background-color: var(--color4);
        width: 80%;
        height: 33%;
        color: var(--color2);
        border-radius: 30px;
    }
    
    .musica .contenido-seccion .contenidoimg{
        margin: 0 0 0 0;
        padding: 25px;
        width: 100%;
        height: 33%;
        color: var(--color2);
    }
    
    .musica .contenido-seccion .contenidoimg1{
        margin: 0 0 0 0;
        padding: 25px;
        background-color: var(--color2);
        width: 100%;
        height: 33%;
        color: var(--color2);
    }
    
    .musica .contenido-seccion .contenidoimg2{
        margin: 0 70px 0 0;
        padding: 25px;
        background-color: var(--color2);
        width: 100%;
        height: 33%;
        color: var(--color2);
    }
    
    .musica .contenido-seccion img{
        box-shadow: 0 0 45px var(--color1);
        width: 70%;
        height: 100%;
        border-radius: 20%;
    }
    
    .musica .contenido-seccion p{
        text-align: justify;
        padding: 20px 30px;
        font-size: 26px;
        font-family: var(--font6);
        color: var(--color6);
    }

    .rutacomunitaria{
        border-width: 10px;
        border-color: var(--color1);
        border-top-style: dotted;
        background-color: var(--color2);
        background-size: cover;
        width: 150%;
        height: 400vh;
        display: block;
        align-items: center;
    }
    
    .rutacomunitaria .contenido-seccion{
        box-shadow: 0 0 25px var(--color4);
        background-color: var(--color1);
        width: 80%;
        height: 31%;
        color: var(--color2);
        margin: 10% 0 0 10%;
        border-radius: 30px;
    }
    
    .rutacomunitaria h2{
        font-size: 45px;
        font-family: var(--font5);
        text-align: center;
        padding: 20px 0 22px 0;
    }
    
    .rutacomunitaria .contenido-seccion p{
        text-align: justify;
        font-size: 25px;
        color: var(--color6);
        line-height: 28px;
        margin: 15px 30px 25px 30px;
        font-family: var(--font5);
    }
    
    .rutacomunitaria .contenido-seccion img{
        text-align: center;
        border-radius: 10%;
        width: 70%;
        margin: 20px 75px;
    }
    
    .rutacomunitaria .contenido-seccion video{
        text-align: center;
        width: 80%;
        margin: 0 10%;
        border-radius: 15px;
    }
    
    .contactanos {
        border-width: 10px;
        border-color: var(--color1);
        border-top-style: dotted;
        padding: 60px 0;
        background-color: var(--color2);
        background-size: cover;
        width: 150%;
        height: 150vh;
        color: var(--color2);
    }
    
    .contactanos .contenedor{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        border-radius: 40px;
    }
    
    .contactanos .contenedor .contenido-banner{
        position: absolute;
        width: 85%;
        height: 50%;
        background-color: var(--color1);
        text-align: center;
        border-radius: 40px;
    }
    
    .contactanos .contenedor .contenido{
        position: absolute;
        width: 85%;
        height: 50%;
        padding: 55px 10px;
        background-color: var(--color4);
        text-align: center;
        border-radius: 40px;
    }
    
    .contactanos .contenido:hover {
        animation: desaparecer 2s linear 0s 1;
        opacity: 0;
    }
    
    .contactanos .contenido-banner img{
        border: 6px solid var(--color3);
        border-radius: 10%;
        display: block;
        width: 80%;
        margin: auto;
    }
    
    .contactanos h1{
        font-size: 50px;
        font-family: var(--font4);
    }
    
    .contactanos .contenido-banner h1{
        padding-top: 20px;
        font-size: 30px;
        font-family: var(--font4);
    }
    
    .contactanos h2{
        margin-top: 65%;
        text-align: center;
        color: var(--color4);
        font-size: 75px;
        font-family: var(--font2);
        animation: desaparecer 0.7s linear 2s infinite;
    }
    
    .contactanos .col .contenedorredes{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .contactanos .col .contenedorredes .redes{
        width: 200px;
        height: 200px;
        background-color: var(--color4);
        border-radius: 50%;
        margin: 15px 45px 15px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    
    .contactanos .col .contenedorredes .redes:hover{
        font-size: 28px;
        margin-bottom: 15px;
        width: 140px;
        height: 140px;
        background-color: var(--color4);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    
    .contactanos .col .contenedorredes .redes a i{
        color: var(--color6);
        font-size: 60px;
        margin-bottom: 10px;
    }

    .contactanos .col .contenedorredes .redes span{
        color: var(--color6);
        font-size: 30px;
        margin-bottom: 10px;
    }

}